*{
    margin: 0 0;
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transition: .8s;
    }
}

/*
------------------------------------
------------------------------------
NAVIGATION:
------------------------------------
------------------------------------
*/

.header-box {
    background-color: #000;
    width: 100%;
    height: 245px;
}

nav {
    text-align: left;
    font-size: 17px;
    font-family: cam-reg;
    text-align: center;
}

nav ul {
    margin: 0 0;
    padding: 0% 20%;
    text-decoration: none;
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
}

nav ul li a:hover {
    opacity: 60%;
    transition: .3s;
}

.nav-break {
    color: #fff;
    padding: 0px 15px;
}

/*
------------------------------------
------------------------------------
BODY:
------------------------------------
------------------------------------
*/

body {
    margin: 0 0;
}

.body-container {
    margin: 90px 20%;
    animation: transitionIn 1.3s;
}

.banner {
    margin: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    border-style: none;
    border-width: 0px;
}

    @media only screen and (min-width: 1024px) {

        .banner-mobile {
            display: none;
        }

    }

/*
------------
Image Style:
------------
*/

img {
    margin: 30px 0px;
    border-style: solid;
    border-color: #353535;
    border-width: 2px;
}

.img-borderless {
    margin: 32px 0px 32px 0px;
    border-style: none;
    border-width: 0;
}

.image-center {
    text-align: center;
}

.figure-text {
    font-family: djv-reg;
    letter-spacing: .5px;
    font-size: 16px;
    line-height: 30px;
    background-color: #dfdfdf;
    padding: 12px 26px;
    border-style: solid;
    border-color: rgb(155, 155, 155);
    border-width: 3px;
}

.figure-text-2 {
    font-family: djv-reg;
    letter-spacing: .5px;
    font-size: 14px;
    line-height: 30px;
    padding: 12px 26px;
    border-style: solid;
    border-color: rgb(155, 155, 155);
    border-width: 3px;
    margin: 25px 0px;
}

/*
------------------------------------
------------------------------------
GALLERY:
------------------------------------
------------------------------------
*/

.gallery {
    display: flexbox;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
    margin: 50px 0px;
    padding: 0;
}

.gallery a:hover {
    cursor: pointer;
    opacity: 60%;
    transition: .6s;
}

.gallery img { /* image thumbnails in gallery */
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    margin: auto 12px 12px auto;
    border-style: none;
    border-width: 0;
}

.organisim-gallery {
    display: grid;
    margin: 0px 160px;
    grid-template-columns: 1fr 1fr 1fr;
}

.organisim-box {
    text-align: center;
}

.organisim-box img {
    border-style: none;
    border-width: 0;
}

.organisim-gallery p {
    text-align: center;
    line-height: 25px;
}

/*
------------------------------------
------------------------------------
FOOTER:
------------------------------------
------------------------------------
*/

footer {
    background-color: #000;
    height: fit-content;
    padding-bottom: 25px;
}

.footer-link {
    width: 230;
}

.footer-grid {
    display: grid;
    margin: 0px 20%;
    grid-template-columns: repeat(5, 1fr);
}

    @media only screen and (max-width: 1500px) {
        .footer-grid {
            display: grid;
            margin: 0px 20%;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media only screen and (max-width: 540px) {
        .footer-grid {
            display: grid;
            margin: 0px 20%;
            grid-template-columns: repeat(1, 1fr);
        }
    }

footer h1 {
    font-family: old-bold;
    text-align: left;
    letter-spacing: 4px;
    font-size: 30px;
    color: #fff;
    margin: 0px 20% 0px 20%;
}

footer h2 {
    font-family: old-bold;
    letter-spacing: 2px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 18px;
    padding-top: 25px;
    margin: 0;
}

footer p {
    font-family: cam-reg;
    color: #fff;
    size: 10px;
    padding: 0;
    margin: 0;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

footer p a:hover {
    opacity: 55%;
    transition: .3s;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    opacity: 55%;
    transition: .3s;
}

.copyright {
    margin: 65px 20%;
    color: #fff;
    font-family: djv-reg;
    letter-spacing: 1px;
    font-size: 12px;
}

/*
------------------------------------
------------------------------------
FONT STYLES:
------------------------------------
------------------------------------
*/

h1 {
    font-size: 60px;
    font-family: old-bold;
    letter-spacing: 6px;
    color: #fff;
    padding: 82px 0 4px 0;
    text-align: center;
}

h2 {
    font-family: cam-reg;
    letter-spacing: 5px;
    font-size: 38px;
    margin: 40px 0px 10px 0px;
}

h3 {
    font-family: djv-reg;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 40px 0px 12px 0px;
}

h4 {
    font-family: djv-reg;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 16px 0px 8px 0px;
}

p {
    font-family: djv-reg;
    letter-spacing: .5px;
    font-size: 16px;
    line-height: 35px;
    text-align: justify;
}

p a {
    color: rgb(27, 95, 297);
    text-decoration: none;
}

p a:hover {
    opacity: 50%;
    transition: .3s;
}

hr {
    margin: 30px 0px 25px 0px;
}

.hr-2 {
    margin: 6px 0px;
}

.hr-3 {
    margin: 5px 0px 18px 0px;
}

.hr-4 {
    margin: 12px 0px;
}

.list-textbox {
    margin-top: 18px;
    line-height: 36px;
    text-align: left;
}

.list-textbox a {
    color: #fff;
    background-color: #000;
    padding: 3px 8px;
    text-align: left;
}

.list-textbox a:hover {
    opacity: 50%;
    transition: .3s;
}

@font-face {
    src: url(font/DejaVuSans-Regular.ttf);
    font-family: djv-reg;
}

@font-face {
    src: url(font/Cambria-Regular.ttf);
    font-family: cam-reg;
}

@font-face {
    src: url(font/OldStandardTT-Bold.ttf);
    font-family: old-bold;
}





/*
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
MOBILE FORMAT:
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
*/

@media only screen and (max-width: 1024px) {

    .header-box {
        background-color: #000;
        width: 100%;
        height: 250px;
    }

    .banner {
        display: none;
    }

    .banner-mobile {
        margin: 0;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
        border-style: none;
        border-width: 0px;
    }

    nav {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        width: auto;
        margin: 0 auto;
    }

    nav h1 {
        font-size: 22px;
        text-align: center;
        margin: 0 8%;
        width: auto;
    }

    nav ul {
    margin-top: 10px;
    width: center;
    }

    nav ul li {
        display: grid;
        padding: 6px 0px;
        letter-spacing: 4px;
    }

    nav ul li a {
        text-align: center;
    }

    .nav-break {
        display: none;
    }

    .body-container {
        margin: 65px 8%;
        animation: transitionIn 1.3s;
        text-align: center;
    }

    .gallery {
        display: flexbox;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        margin: 50px 0px;
        padding: 0;
    }
    
    .gallery img { /* mobile image thumbnails in gallery */
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
        margin: auto 16px 16px auto;
        border-style: none;
        border-width: 0;
    }

    .organisim-gallery {
        display: inline-block;
        margin: 0px auto;
        text-align: center;
    }
    
    .organisim-box img {
        border-style: none;
        border-width: 0;
    }
    
    .organisim-gallery p {
        text-align: center;
        line-height: 25px;
    }

    .footer-link {
        width: 100%;
    }

    .footer-grid {
        display: grid;
        text-align: center;
        margin: 0px 8%;
        grid-template-columns: repeat(1, 1fr);
    }

    footer h1 {
        font-family: old-bold;
        text-align: center;
        letter-spacing: 2px;
        font-size: 26px;
        color: #fff;
        margin: 0px 8% 0px 8%;
    }
    
    footer h2 {
        font-family: old-bold;
        letter-spacing: 2px;
        font-size: 20px;
        color: #fff;
        margin-bottom: 18px;
        padding-top: 40px;
        margin: 0;
    }

    footer p {
        font-size: 14px;
        margin: 0px 0px;
        text-align: center;
    }
    
    .copyright {
        margin: 25px 8%;
        text-align: center;
        line-height: 22px;
        color: #fff;
        font-family: djv-reg;
        letter-spacing: 1px;
        font-size: 11px;
    }

    h1 {
        font-size: 22px;
        font-family: old-bold;
        letter-spacing: 6px;
        color: #fff;
        padding: 42px 0 4px 0;
        text-align: center;
    }
    
    h2 {
        font-family: cam-reg;
        letter-spacing: 3px;
        font-size: 18px;
        margin: 30px 0px 10px 0px;
    }
    
    h3 {
        font-family: djv-reg;
        letter-spacing: 2px;
        font-size: 14px;
        margin: 40px 0px 12px 0px;
    }
    
    h4 {
    font-family: djv-reg;
    letter-spacing: 2px;
    font-size: 14px;
    margin: 16px 0px 6px 0px;
    }
    
    p {
        font-family: djv-reg;
        letter-spacing: .5px;
        font-size: 14px;
        line-height: 30px;
        text-align: left;
    }
    
    p a {
        color: rgb(27, 95, 297);
        text-decoration: none;
    }
    
    hr {
        margin: 30px 0px 25px 0px;
    }
    
    .hr-2 {
        margin: 6px 0px;
    }
    
    .hr-3 {
        margin: 0px 0px 16px 0px;
    }
    
   .hr-4 {
        margin: 8px 0px;
    }
    
    .list-textbox {
        margin-top: 18px;
        line-height: 36px;
        text-align: left;
    }
    
    .list-textbox a {
        color: #fff;
        background-color: #000;
        padding: 3px 8px;
        text-align: left;
    }

}
